HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs/
local-maven-repo/
or-tools/or-tools_flatzinc_centos-8_v7.6.7691.tar.gz
or-tools/or-tools_flatzinc_VisualStudio2019-64bit_v7.6.7691.zip
or-tools/or-tools_centos-8_v7.6.7691.tar.gz
or-tools/or-tools_VisualStudio2019-64bit_v7.6.7691.zip
lib/ortools.lib
~$workshift1.xlsx
workshift1.xlsx
